@charset "UTF-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: adobe-heiti-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	letter-spacing: 0.1em;
	line-height: 2;
}

.sp {
	display: none;
}

.pc {
	display: block;
}

.sp_inline {
	display: none;
}

.pc_inline {
	display: inline;
}

.taC {
	text-align: center;
}

.wbr {
	display: inline-block;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div#top {
	position: fixed;
	/*display: none;*/
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #22ac38;
	z-index: 999;
	text-align: center;
	padding: 0px 0 0 0;
}

div#top .top_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

div#top ul li {
	color: #7cde8c;
	font-size: 20px;
	padding: 30px 0;
}

div#top ul li a {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	display: block;
	opacity: 1;
}

div#top ul li a:hover {
	transition: 0.3s;
	opacity: 0.7;
}

/*----------ハンバーガーアイコン----------*/
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 70px;
	height: 100vh;
	background-color: #fff;
	z-index: 9999;
	border-left: 1px solid #dddddd;
}

header .hamburger {
	position: fixed;
	display: block;
	width: 70px;
	height: 70px;
	z-index: 99999;
	box-sizing: border-box;
	right: 0px;
	top: 0px;
	background: url(../img/ico_language_on.png);
}

.hamburger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	background: url(../img/ico_language.png);
}

.active span {
	opacity: 0;
}

/*----------ナビゲーション----------*/
nav {
	position: fixed;
	/*display: none;*/
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #22ac38;
	z-index: 999;
	text-align: center;
	padding: 40px 0 0 0;
	transition: all 0.2s;
	transform: translate(100%);
}

nav.visible {
	/*display: block;*/
	transform: translate(0);
	width: calc(100% - 70px);
}

nav .navigation_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

nav .navigation_inner .navigation_menu {
	width: auto;
}

nav .navigation_inner .navigation_menu ul li {
	color: #7cde8c;
	font-size: 20px;
	padding: 30px 0;
	opacity: 0;
	transform: translateY(50%);
	transition: transform 0.6s ease, opacity .2s ease;
}

nav .navigation_inner .navigation_menu ul li a {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	display: block;
	opacity: 1;
}

nav .navigation_inner .navigation_menu ul li a:hover {
	transition: 0.3s;
	opacity: 0.7;
}

nav .navigation_inner .navigation_menu ul li:nth-child(2) {
	transform: translateY(50%);
	transition: transform 1.6s ease, opacity .2s ease;
}

nav .navigation_inner .navigation_menu ul li:nth-child(3) {
	transform: translateY(50%);
	transition: transform 2.6s ease, opacity .2s ease;
}

nav .navigation_inner .navigation_menu ul li:nth-child(4) {
	transform: translateY(50%);
	transition: transform 3.6s ease, opacity .2s ease;
}

nav.visible .navigation_inner .navigation_menu ul li {
	opacity: 1;
	transform: translateY(0);
	transition: transform 1s ease, opacity .9s ease;
}

/*----------ハンバーガーアイコン----------*/
.hamburger2 {
	background: #fff;
	height: 100%;
	z-index: 99999;
	top: 70px;
	position: fixed;
}

.hamburger2 span {
	opacity: 1;
}

.hamburger2 .bg {
	position: relative;
	display: block;
	width: 70px;
	height: 42px;
	z-index: 99999;
	box-sizing: border-box;
	right: 0px;
	top: 40%;
}

.hamburger2 .bg span {
	display: block;
	background: #666;
	width: 24px;
	height: 2px;
	position: absolute;
	left: 20px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.hamburger2 .bg span:first-child {
	top: 12px;
}

.hamburger2 .bg span:nth-child(2) {
	margin-top: -1px;
	top: 50%;
}

.hamburger2 .bg span:last-child {
	bottom: 12px;
}

.hamburger2.active .bg span:first-child {
	-webkit-transform: translateY(8px) rotate(45deg);
	-moz-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}

.hamburger2.active .bg span:nth-child(2) {
	opacity: 0;
}

.hamburger2.active .bg span:last-child {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-moz-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}

/*----------ナビゲーション----------*/
nav#navigation2 {
	position: fixed;
	/*display: none;*/
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 999;
	text-align: center;
	padding: 0px 0 0 0;
	transition: all 0.2s;
	transform: translate(100%);
}

nav#navigation2.visible2 {
	width: calc(100% - 70px);
	transform: translate(0%);
}

nav#navigation2 .navigation_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

nav#navigation2 .navigation_inner .navigation_menu {
	width: auto;
	text-align: center;
}

nav#navigation2 .navigation_inner .navigation_menu ul li {
	color: #222;
	padding: 30px 0;
	opacity: 0;
	transform: translateY(50%);
	transition: transform 0.6s ease, opacity .2s ease;
}

nav#navigation2 .navigation_inner .navigation_menu ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	display: block;
}

nav#navigation2 .navigation_inner .navigation_menu ul li a:hover {
	transition: 0.3s;
	opacity: 0.7;
}

nav#navigation2 .navigation_inner .navigation_menu ul li:nth-child(2) {
	transform: translateY(50%);
	transition: transform 1.6s ease, opacity .2s ease;
}

nav#navigation2 .navigation_inner .navigation_menu ul li:nth-child(3) {
	transform: translateY(50%);
	transition: transform 2.6s ease, opacity .2s ease;
}

nav#navigation2 .navigation_inner .navigation_menu ul li:nth-child(4) {
	transform: translateY(50%);
	transition: transform 3.6s ease, opacity .2s ease;
}

nav#navigation2.visible2 .navigation_inner .navigation_menu ul li {
	opacity: 1;
	transform: translateY(0);
	transition: transform 1s ease, opacity .9s ease;
}

#mv {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#mv img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.slick-box {
	position: relative;
}

#mv .text_box {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%) translateX(0%);
	-webkit-transform: translateY(-50%) translateX(0%);
	z-index: 9;
	font-size: 30px;
	color: #fff;
	line-height: 2;
	letter-spacing: 0.2em;
	background: none;
}

#mv .text_box .image {
	width: 100%;
}

#mv .text_box .image img {
	height: auto;
	width: auto;
	max-width: 100%;
}

#mv .text_box p {
	width: 100%;
}

#mv .text_box_image {
	position: absolute;
	top: 52%;
	right: 5.7%;
	transform: translateY(-50%) translateX(0%);
	-webkit-transform: translateY(-50%) translateX(0%);
	z-index: 8;
}

#mv .text_box_image img {
	height: auto;
}

.slick-slider {
	display: block;
}

.slick-slider_sp {
	display: none;
}

.slick-slider img {
	width: 100%;
}

#apDots {
	position: absolute;
	bottom: 50px;
	left: 5%;
	z-index: 9;
}

@media (min-width: 769px) {
	#mv {
		width: calc(100% - 70px);
	}
}

#contents {
	width: calc(100% - 70px);
}

h2 {
	font-size: 40px;
	padding: 0;
	margin: 0;
	line-height: 2;
}

section {
	box-sizing: border-box;
}

section#section02 a:hover .button, section#section03 a:hover .button, section#section04 a:hover .button, section#section05 a:hover .button, section#area01_02 a:hover .button {
	cursor: pointer;
}

section#section02 a:hover .button:after, section#section03 a:hover .button:after, section#section04 a:hover .button:after, section#section05 a:hover .button:after, section#area01_02 a:hover .button {
	width: 100%;
	left: 0;
}

section#section01 {
	padding: 131px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

section#section01 p {
	font-size: 20px;
	line-height: 2;
}

section#section01 .left {
	width: 51%;
	box-sizing: border-box;
	padding: 0 0 0 0px;
}

section#section01 .right {
	width: 37%;
	text-align: center;
}

section#section01 .right img {
	width: 100%;
}

@media (max-width: 1367px) {
	section#section01 .right {
		text-align: left;
	}
	section#section01 .right img {
		max-width: 399px;
	}
}

/**/
.op80 {
	opacity: 0.8;
}

section#section02 {
	padding: 222px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
	font-size: 18px;
}

section#section02 p {
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

section#section02 .title {
	font-size: 48px;
	padding: 22px 0 23px;
}

section#section02 .left {
	position: relative;
	padding: 0 0 25px 0;
	box-sizing: border-box;
	width: 55%;
}

section#section02 .left .bg {
	background-color: rgba(34, 172, 56, 0.1);
}

section#section02 .left .bg a.box {
	text-decoration: none;
	color: #333;
	padding: 99px 20px 114px 11%;
	box-sizing: border-box;
	display: block;
}

section#section02 .right {
	width: 45%;
	position: relative;
	align-self: stretch;
}

section#section02 .right .inner {
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
	height: 100%;
}

section#section02 .movie {
	padding: 0;
	position: absolute;
	width: calc(100% + 25%);
	left: -25%;
	top: -15.773%;
	z-index: 10;
}

section#section02 .movie img {
	width: 100%;
}

@media (min-width: 1350px) {
	section#section02 .movie {
		width: calc(100% + 144px);
		left: -144px;
		top: -100px;
	}
}

.button {
	flex: 1 1 auto;
	margin: 48px 0 0;
	padding: 0px 0 7px;
	border: 0px solid #22ac38;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color: #22ac38;
	font-size: 18px;
	display: inline-block;
	letter-spacing: 0;
}

.button:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 2px;
	background: #22ac38;
	left: 0;
}

section#section03 {
	padding: 208px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row-reverse;
	font-size: 18px;
}

section#section03 p {
	padding: 0;
	margin: 0;
	line-height: 2;
	box-sizing: border-box;
}

section#section03 .title {
	font-size: 48px;
	padding: 6px 0 3px;
}

section#section03 .left {
	position: relative;
	padding: 0;
	box-sizing: border-box;
	width: 52.032%;
}

section#section03 .left .bg {
	background-color: #eef6fb;
}

section#section03 .left .bg a.box {
	text-decoration: none;
	color: #333;
	box-sizing: border-box;
	display: block;
	padding: 90px 7.208% 118px 27.78%;
}

section#section03 .left .bg a.box p:last-of-type {
	letter-spacing: 1px;
}

section#section03 .right {
	width: 45%;
	position: relative;
	align-self: stretch;
}

section#section03 .right .inner {
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
	height: 100%;
}

section#section03 .movie {
	padding: 0 0 0px;
	position: absolute;
	width: calc(100% + 25%);
	right: -25%;
	top: -15.773%;
	z-index: 10;
}

section#section03 .movie img {
	width: 100%;
}

section#section03 .button {
	margin-top: 40px;
}

@media (min-width: 1367px) {
	section#section03 .left .bg {
		display: flex;
		justify-content: flex-end;
	}
	section#section03 .left .bg a.box {
		width: 687px;
		padding-left: 184px;
		padding-right: 50px;
	}
	section#section03 .left .bg a.box p {
		min-width: 432px;
	}
	section#section03 .movie {
		width: calc(100% + 144px);
		right: -144px;
		top: -100px;
	}
}

section#section04 {
	padding: 0px 0 249px;
	text-align: center;
	font-size: 20px;
	margin: 150px auto 0;
	max-width: 800px;
}

section#section04 a {
	text-decoration: none;
	color: #333;
	box-sizing: border-box;
	display: block;
}

section#section04 p {
	padding: 0;
	margin: 0;
	line-height: 2;
}

section#section04 p.title_text {
	font-size: 48px;
	line-height: 1.8;
	color: #22ac38;
	margin: 0;
	padding: 0 0 5px;
}

section#section04 .button {
	margin-top: 37px;
}

section#section05 {
	position: relative;
	background: #22ac38;
	padding: 80px 100px 100px;
	box-sizing: border-box;
	margin: 0;
}

section#section05 .image {
	position: absolute;
	top: -160px;
	left: 0;
	padding: 0;
	width: 85%;
}

section#section05 .image img {
	/*width: 100%;*/
}

section#section05 .inner {
	background: #fff;
	font-size: 18px;
	width: 50%;
	height: auto;
	position: relative;
	margin: 0 0 0 auto;
}

section#section05 .inner a {
	text-decoration: none;
	color: #333;
	line-height: 2;
	box-sizing: border-box;
	padding: 62px 60px 95px;
	display: block;
}

section#section05 p {
	line-height: 1.8;
	padding: 0;
	margin: 0;
}

section#section05 p.title {
	font-size: 24px;
	color: #22ac38;
	padding: 0 0 10px;
}

section#section05 p.title span {
	letter-spacing: 0;
}

section#section05 .button {
	margin: 20px 0 0;
}

/**/
section#section06 {
	background-image: url("../img/sns_bg.jpg");
	background-repeat: repeat;
	background-size: 1280px auto;
	background-position: center top;
	padding: 122px 40px 123px;
}

section#section06 *:not(.__carn) {
	box-sizing: border-box;
	letter-spacing: 0;
}

section#section06 h3,
section#section06 h4,
section#section06 h5,
section#section06 p,
section#section06 dl,
section#section06 ul {
	margin-bottom: 0;
}

.snsPanel {
	background-color: rgba(255, 255, 255, 0.95);
	text-align: center;
	width: 100%;
	max-width: 880px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px 8px;
}

.snsPanel ._lead,
.snsPanel ._deadline,
.snsPanel ._buttons a,
.snsPanel ._txt02,
.snsPanel .block02 h4,
.snsPanel .block02 h5 {
	color: #22ac38;
}

.snsPanel .wrapper {
	border: dashed 2px rgba(34, 172, 56, 0.2);
	padding: 54px 9.303% 39px;
}

.snsPanel h3,
.snsPanel ._deadline,
.snsPanel .block02 dt {
	display: flex;
	justify-content: center;
	align-items: center;
}

.snsPanel h3 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0;
}

.snsPanel h3 img {
	margin-right: 11px;
}

.snsPanel ._lead {
	font-size: 30px;
	letter-spacing: -1px !important;
	line-height: 1.6;
	margin-top: 22px;
	position: relative;
}

.snsPanel ._lead .__baloon {
	display: block;
	position: absolute;
	top: -68px;
	left: -57px;
}

.snsPanel ._lead .__carn {
	letter-spacing: -7px;
}

.snsPanel ._deadline {
	border-top: 2px solid #22ac38;
	border-bottom: 2px solid #22ac38;
	font-size: 24px;
	line-height: 1;
	margin-top: 23px;
	padding-top: 24px;
	padding-bottom: 22px;
}

.snsPanel ._deadline img {
	margin-right: 8px;
}

.snsPanel ._txt01 {
	font-size: 18px;
	line-height: 1.667;
	margin-top: 23px;
}

.snsPanel ._txt01 .__carn {
	letter-spacing: -5px;
}

.snsPanel ._note {
	font-size: 12px;
	line-height: 1.667;
	margin-top: 6px;
}

.snsPanel ._buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 640px;
	margin: 27px auto 0;
}

.snsPanel ._buttons a {
	background-color: #eaf6ec;
	border: 1px solid #22ac38;
	border-radius: 10px;
	display: block;
	font-size: 20px;
	text-decoration: none;
	line-height: 72px;
	width: 48.4375%;
	max-width: 310px;
	padding-left: 30px;
	position: relative;
}

.snsPanel ._buttons a::before, .snsPanel ._buttons a::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.snsPanel ._buttons a::before {
	left: 20px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.snsPanel ._buttons a.ig::before {
	background-image: url("../img/sns_btnico_ig.png");
}

.snsPanel ._buttons a.fb::before {
	background-image: url("../img/sns_btnico_fb.png");
}

.snsPanel ._buttons a::after {
	right: 16px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #22ac38;
	border-right: 2px solid #22ac38;
	transform: rotate(45deg);
	backface-visibility: hidden;
}

.snsPanel .block {
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
}

.snsPanel .block01 {
	display: flex;
	align-items: center;
	margin-top: 32px;
	padding: 16px 40px 10px;
}

.snsPanel .block01 .txt {
	width: calc(100% - 174px);
}

.snsPanel .block01 ._txt02 {
	font-size: 18px;
	line-height: 1.556;
	margin-top: 0;
}

.snsPanel .block01 ._txt02 .super {
	font-size: 12px;
	vertical-align: super;
}

.snsPanel .block01 .img {
	width: 174px;
}

.snsPanel .block02 {
	margin-top: 20px;
	padding: 26px 43px;
}

.snsPanel .block02 h4 {
	font-size: 18px;
	font-weight: normal;
	line-height: 1;
	margin-top: 0;
	overflow: hidden;
}

.snsPanel .block02 h4 span {
	display: inline-block;
	position: relative;
}

.snsPanel .block02 h4 span::before, .snsPanel .block02 h4 span::after {
	content: '';
	position: absolute;
	top: calc(50% - (calc(0.2px + 0.05em) / 2));
	width: 2000px;
	border-bottom: calc(0.2px + 0.05em) solid rgba(34, 172, 56, 0.2);
}

.snsPanel .block02 h4 span::before {
	right: 100%;
	margin-right: 19px;
}

.snsPanel .block02 h4 span::after {
	left: 100%;
	margin-left: 19px;
}

.snsPanel .block02 dl, .snsPanel .block02 ul {
	text-align: left;
	width: 100%;
}

.snsPanel .block02 dl {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
}

.snsPanel .block02 dt {
	background-color: #22ac38;
	border-radius: 50%;
	width: 34px;
	height: 34px;
}

.snsPanel .block02 dt:nth-of-type(n+2) {
	margin-top: 9px;
}

.snsPanel .block02 dd {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1.3;
	width: calc(100% - 34px);
	margin: 0;
	padding-left: 10px;
}

.snsPanel .block02 dd:nth-of-type(n+2) {
	margin-top: 9px;
}

.snsPanel .block02 h5 {
	background-color: rgba(34, 172, 56, 0.1);
	border-radius: 11px;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
}

.snsPanel .block02 dl + h5 {
	margin-top: 23px;
}

.snsPanel .block02 ul + h5 {
	margin-top: 12px;
}

.snsPanel .block02 ul {
	margin-top: 9px;
}

.snsPanel .block02 li {
	font-size: 12px;
	line-height: 1.66;
	padding-left: .5em;
	position: relative;
}

.snsPanel .block02 li:before {
	content: '\0030fb';
	display: block;
	position: absolute;
	top: 0;
	left: -.5em;
}

@media (min-width: 1367px) {
	.snsPanel .wrapper {
		padding-right: 80px;
		padding-left: 80px;
	}
}

/**/
/**/
footer {
	text-align: center;
	width: calc(100% - 70px);
	padding-top: 77px;
}

footer .title {
	font-size: 24px;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 26px auto 78px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
}

footer ul li {
	margin: 0 15px 20px;
	max-width: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

footer ul li:hover {
	transition: 0.3s;
	opacity: 0.7;
}

footer ul li img {
	/*height: auto;*/
	display: block;
	width: 100%;
}

.cr {
	background: #f0f0f0;
	text-align: center;
	font-size: 14px;
	padding: 14px 0;
	letter-spacing: 0;
	margin: 0 0;
}

/* 下層 */
.area01_01 .ttl_block {
	background-image: url("../img/area01/bg_area01_01.png");
}

.area02_01 .ttl_block {
	background-image: url("../img/area02/bg_area02_01.png");
}

#area01_01 {
	text-align: center;
	padding: 0;
	box-sizing: border-box;
}

#area01_01 .ttl_block {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 110px;
	padding-bottom: 282px;
}

#area01_01 p.title {
	font-size: 30px;
	color: #22ac38;
	padding: 0;
	margin: 0;
}

#area01_01 p.area {
	font-size: 60px;
	line-height: 1.3;
	color: #22ac38;
	padding: 8px 0 0;
	margin: 0;
}

#area01_01 .movie {
	display: inline-block;
	max-width: 860px;
	margin-top: -235px;
	padding: 0 40px;
}

#area01_01 .movie img {
	width: 100%;
}

#area01_01 p.text {
	font-size: 20px;
	padding: 59px 40px 90px;
	margin: 0;
	line-height: 2;
	box-sizing: border-box;
}

#area01_01 ul.slider {
	width: 100%;
	display: block;
}

#area01_01 ul.slider li {
	/*width: 33.333% !important;*/
}

#area01_01 ul.slider li a img {
	width: 100%;
}

.area01_01 .title_img {
	width: 96%;
	max-width: 884px;
	margin-left: auto;
	margin-right: auto;
}

.area01_01 .title_img01 {
	max-width: 328px;
}

.area01_01 .title_img02 {
	max-width: 556px;
}

h2.area {
	font-size: 36px;
	text-align: center;
	line-height: 1;
	margin: 0 0 60px;
	font-weight: normal;
}

h2.area span {
	display: block;
	padding: 0 0 10px;
}

section#area01_02 {
	padding-top: 140px;
}

/*タブ切り替え全体のスタイル*/
.js-tab-wrap, .tabs2 {
	margin-top: 50px;
	padding-bottom: 40px;
	max-width: 1080px;
	margin: 0 auto;
}

.js-tab-wrap ul {
	display: flex;
	align-self: stretch;
	align-items: center;
}

/*タブのスタイル*/
.js-tab-btn {
	display: flex;
	padding: 0 0 12px;
	width: calc(100%/4 - 5px);
	margin: 0 2px;
	align-self: stretch;
	float: left;
}

.js-tab-btn div {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	/*width: calc(100%/4 - 5px);*/
	width: 100%;
	height: 100%;
	border: 2px solid #22ac38;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 16px;
	text-align: center;
	color: #22ac38;
	text-align: center;
	transition: all 0.2s ease;
	letter-spacing: 0;
	background: #fff;
	padding: 15px 0;
}

.js-tab-btn:hover {
	opacity: 0.75;
}

.js-tab-btn.current {
	background: url("../img/ico_arrow.png") 50% 100% no-repeat;
	color: #fff;
}

.js-tab-btn.current div {
	background: #22ac38;
	color: #fff;
}

.js-tab-contents {
	display: none;
	padding: 100px 40px 100px;
	box-sizing: border-box;
}

.js-tab-contents img {
	width: 100%;
}

.js-tab-contents.current {
	display: block;
}

.js-tab-wrap p.title {
	font-size: 26px;
	color: #22ac38;
	text-align: center;
	padding: 50px 0 0 0;
}

.js-tab-wrap ul.cont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.js-tab-wrap ul.cont li {
	width: calc(50% - 10px);
	display: flex;
	box-sizing: border-box;
	border: 2px solid #e8f7eb;
	padding: 24px;
	margin: 0 0 20px;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.js-tab-wrap ul.cont li a {
	position: absolute;
	width: 100%;
	height: calc(100% + 15px);
	top: 0;
	left: 0;
}

.js-tab-wrap ul.cont li:nth-child(odd) {
	margin-right: 20px;
}

.js-tab-wrap ul.cont li .image {
	position: relative;
}

.js-tab-wrap ul.cont li .image img {
	display: block;
}

.js-tab-wrap ul.cont li .text {
	padding: 5px 0 0 30px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	line-height: 1.6;
}

.js-tab-wrap ul.cont li .text .inner {
	height: 105px;
	overflow: hidden;
}

.js-tab-wrap ul.cont li p.text01 {
	font-size: 18px;
	color: #22ac38;
	margin: 0;
	padding: 0 0 5px;
}

.js-tab-wrap ul.cont li p.text01 span {
	font-size: 14px;
}

.js-tab-wrap ul.cont li p.text02 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.js-tab-wrap ul.cont li .text a {
	pointer-events: auto;
}

.js-tab-wrap ul.cont li .text a div.btn_pop {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.js-tab-wrap ul.cont li .text a div.btn_pop img {
	width: auto;
}

.js-tab-wrap ul.cont li:hover {
	background: #e8f7eb;
}

.pop_box {
	display: flex;
	width: 1080px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.pop_box .text_box {
	padding: 40px 40px;
	box-sizing: border-box;
	background: #fff;
	align-self: stretch;
	align-items: center;
	display: flex;
	width: 49%;
}

.pop_box .text_box .inner {
	display: block;
	width: 100%;
}

.pop_box .text_box a .button {
	flex: 1 1 auto;
	margin: 20px 0 0;
	padding: 0px 0 0px;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color: #22ac38;
	font-size: 18px;
	display: inline-block;
}

.pop_box .text_box a:hover .button {
	cursor: pointer;
	border-bottom: 2px solid #22ac38;
}

.pop_box .name {
	font-size: 24px;
	line-height: 1.5;
}

.pop_box .name span {
	font-size: 18px;
	display: block;
}

.pop_box .add {
	font-size: 14px;
	padding: 20px 0 0 0;
}

.pop_box .tel {
	font-size: 14px;
}

.pop_box .text {
	font-size: 14px;
	padding: 20px 0 0 0;
}

.pop_box .inner_box {
	background: #e8f7eb;
	border: 1px solid #22ac38;
	border-radius: 9px;
	box-sizing: border-box;
	padding: 20px 20px;
	margin: 20px 0 0 0;
}

.pop_box .inner_box p {
	padding: 0;
	margin: 0 20px 0 0;
}

.pop_box .inner_box p.season_ico {
	background: #fff;
	border: 1px solid #22ac38;
	box-sizing: border-box;
	line-height: 1.8;
	border-radius: 7px;
	color: #22ac38;
	width: auto;
	height: 30px;
	text-align: center;
	margin: 0 10px 5px 0;
	box-sizing: border-box;
	padding: 0 10px;
	display: inline-block;
}

.pop_box .inner_box p.course_ico {
	background: #22ac38;
	box-sizing: border-box;
	line-height: 1.8;
	border-radius: 7px;
	color: #fff;
	width: 90px;
	height: 30px;
	text-align: center;
	margin: 0 10px 5px 0;
}

.season {
	display: flex;
	padding: 0 0 10px;
	margin: 0;
	width: 100%;
}

.course {
	display: flex;
	width: 100%;
}

.season p, .course p {
	display: block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.clear {
	clear: both;
}

.pop_box .inner_box .season .inner, .pop_box .inner_box .course .inner {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.image_pop {
	width: 51%;
	overflow: hidden;
	position: relative;
	padding-top: 51%;
	margin-bottom: 0px;
	background: #222;
	box-sizing: border-box;
	align-self: stretch;
	width: 51%;
}

.image_pop img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	object-fit: cover;
}

#area01_03 {
	background: #f7f7f7;
	padding: 90px 0;
}

.tab_inner {
	background: #fff;
	padding: 60px 40px 40px 40px;
}

.map_image {
	box-sizing: border-box;
	padding: 30px 0 70px;
}

.map_image img {
	width: auto;
}

.tab_inner p.title {
	font-size: 30px;
	color: #22ac38;
	text-align: center;
	padding: 0px 0 0 0;
	margin: 0;
	display: block;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
}

.tab_inner p.title span {
	font-size: 20px;
	display: block;
	padding: 0 0 15px;
}

.tab_inner p.text {
	font-size: 16px;
	text-align: center;
	padding: 0px 0 40px 0;
	margin: 0;
}

.schedule {
	display: flex;
}

.schedule .left div {
	width: 41px;
	background: url("../img/area01/bg_arrow.png") 50% 100% no-repeat, #e8f7eb;
	color: #22ac38;
	text-align: center;
	display: flex;
	align-items: center;
	letter-spacing: 0;
	margin-bottom: 20px;
	height: 100%;
	align-self: stretch;
}

.schedule .left div span {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.schedule .left div.s01 {
	height: calc(100% + 50px);
}

.schedule .left div.s02 {
	height: calc(100% - 20px);
	margin: 70px 0 0 0;
}

.schedule .left div.s03 {
	height: 50%;
	margin: 70px 0 0 0;
}

.schedule .left div.s03_2 {
	height: 73%;
	margin: 70px 0 0 0;
}

.schedule .left div.s07 {
	height: calc(100% - 20px);
	margin: 70px 0 0 0;
}

.schedule .left div.s08 {
	height: 65%;
	margin: 70px 0 0 0;
}

.schedule .left div.s09 {
	height: 75%;
	margin: 70px 0 0 0;
}

.schedule .left div.s_last2 {
	height: 82%;
	margin: 70px 0 0 0;
}

.schedule .left div.s_last3 {
	height: 88%;
	margin: 70px 0 0 0;
}

.schedule .left div.s_last4 {
	height: 91%;
	margin: 70px 0 0 0;
}

.schedule .left div.s_last5 {
	height: 92.7%;
	margin: 70px 0 0 0;
}

.schedule .right {
	width: calc(100% - 41px);
}

.schedule .right .notes {
	font-size: 12px;
	line-height: 1.5;
	margin-left: 115px;
}

.area01_03 .schedule_box .num .ride {
	color: #22ac38;
}

.area01_03 .schedule_box .num .ride::before {
	background-image: url("../img/area01/ico_ride.png");
}

.area02_03 .schedule_box .num .ride {
	color: #29749a;
}

.area02_03 .schedule_box .num .ride::before {
	background-image: url("../img/area02/ico_ride.png");
}

.schedule_box {
	display: flex;
	width: 100%;
	padding: 0 0 20px;
}

.schedule_box .inner_text {
	width: calc(100% - 320px);
}

.schedule_box .inner_text .time {
	padding: 25px 0 0;
	margin: 0;
}

.schedule_box .inner_text .time img {
	width: auto;
}

.schedule_box .inner_text .title {
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.schedule_box .inner_text .text {
	font-size: 16px;
	padding: 0 40px 0 0;
	margin: 0;
}

.schedule_box .num {
	padding: 0 20px 0 30px;
	box-sizing: border-box;
	text-align: center;
	background: url("../img/area01/dot_arrow.png") 53% 100% no-repeat;
	position: relative;
}

.schedule_box .num.last {
	background: none;
}

.schedule_box .num img {
	margin: 0 0 10px;
}

.schedule_box .num .ride {
	display: block;
	text-align: right;
	letter-spacing: .5px;
	line-height: 1;
	position: absolute;
	top: 138px;
	right: 19px;
	width: 120px;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.schedule_box .num .ride::before {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	content: '';
	display: inline-block;
	width: 31px;
	height: 13px;
	margin: auto;
}

.schedule_box .image {
	width: 320px;
	padding: 50px 0 0 0;
}

.schedule.deparr .left div {
	background: unset;
	position: relative;
}

.schedule.deparr .left div img {
	position: absolute;
	left: 0;
	width: 150px;
	z-index: 1;
}

.schedule.dep .left div img {
	top: 15px;
}

.schedule.arr .left div img {
	top: 0;
}

.arr .schedule_box {
	padding-bottom: 0;
}

/* レンタカー */
#lentalcars_01 {
	background: #e8f7eb;
	text-align: center;
}

.lentalcars_mv img {
	width: 100%;
}

#lentalcars_01 .inner {
	padding: 60px 0;
	box-sizing: border-box;
}

#lentalcars_01 .title {
	color: #22ac38;
	font-size: 36px;
	line-height: 1.5;
	margin: 0;
	padding: 0 0 20px;
}

#lentalcars_01 .text {
	font-size: 20px;
	margin: 0;
	padding: 0 40px;
	box-sizing: border-box;
}

#lentalcars_02 {
	padding: 110px 0 290px;
	box-sizing: border-box;
}

#lentalcars_05 {
	padding: 110px 0 160px;
	box-sizing: border-box;
}

#lentalcars_02 .inner, #lentalcars_05 .inner {
	display: flex;
}

.link_box {
	width: 100%;
}

.link_box ul {
	margin-top: 50px;
	padding-bottom: 40px;
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
}

/*タブのスタイル*/
.link {
	display: block;
	padding: 0 0 12px;
	width: calc(100%/3 - 5px);
	margin: 0 2px;
}

.link a {
	text-decoration: none;
}

.link span {
	display: block;
	/*width: calc(100%/4 - 5px);*/
	width: 100%;
	height: 60px;
	border: 2px solid #22ac38;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 56px;
	font-size: 16px;
	text-align: center;
	color: #22ac38;
	text-align: center;
	transition: all 0.2s ease;
	letter-spacing: 0;
	background: #fff;
}

.link:hover {
	opacity: 0.75;
}

.link.current {
	background: url("../img/ico_arrow.png") 50% 100% no-repeat;
	color: #fff;
}

.link.current span {
	background: #22ac38;
	color: #fff;
}

#lentalcars_02 .left, #lentalcars_05 .left {
	width: 54%;
	position: relative;
	right: -8%;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.step {
	border-bottom: 2px solid #22ac38;
	max-width: 100%;
	padding: 0 20% 0 0;
}

.step span {
	display: block;
	font-size: 36px;
	line-height: 1.5;
	color: #22ac38;
	padding: 5px 0 30px;
}

ul.list {
	max-width: 100%;
	margin: 50px 34% 0 20px;
	list-style: disc;
}

ul.list li {
	font-size: 18px;
	line-height: 1.5;
}

#lentalcars_02 .left .text {
	max-width: 100%;
	font-size: 12px;
	line-height: 1.5;
	padding: 30px 21% 30px 0;
}

#lentalcars_05 .left .text {
	max-width: 100%;
	font-size: 18px;
	line-height: 1.5;
	padding: 30px 21% 30px 0;
}

#lentalcars_02 .left a, #lentalcars_05 .left a {
	color: #22ac38;
	font-size: 18px;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

#lentalcars_02 .left a::after, #lentalcars_05 .left a::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #22ac38;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}

#lentalcars_02 .left a:hover::after, #lentalcars_05 .left a:hover::after {
	transform: scale(1, 1);
}

#lentalcars_02 .right, #lentalcars_05 .right {
	top: 410px;
	right: 0;
	width: 50.4%;
}

#lentalcars_02 .right img, #lentalcars_05 .right img {
	width: 100%;
}

#lentalcars_03 {
	position: relative;
	background: #e8f7eb;
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: -30px;
}

#lentalcars_03 .left {
	width: 45.5%;
	margin: 0 0 0 -8%;
	padding: 60px 8% 0 0;
	position: relative;
	z-index: 9;
}

#lentalcars_03 .right {
	top: -100px;
	position: relative;
	left: 0;
	width: 57%;
}

#lentalcars_03 .right img {
	width: 100%;
}

#lentalcars_03 .left .step {
	max-width: 100%;
	margin: 0 0 0 auto;
	position: relative;
	z-index: 9;
	padding: 0 0 0 30%;
	box-sizing: border-box;
}

#lentalcars_03 .left .step .inner {
	max-width: 400px;
	display: block;
	margin: 0 0 0 auto;
}

#lentalcars_03 .left .text {
	max-width: 400px;
	font-size: 18px;
	line-height: 1.5;
	padding: 30px 0 30px 30%;
	margin: 0 0 0 auto;
}

#lentalcars_04 {
	background: #e8f7eb;
	padding: 0 0 115px;
}

#lentalcars_04 .inner {
	max-width: 1080px;
	margin: 0 auto;
}

#lentalcars_04 .inner ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

#lentalcars_04 .inner ul li {
	width: 20%;
	text-align: center;
}

#lentalcars_04 .inner ul li .bnr_link a {
	text-decoration: none;
	font-size: 18px;
	display: flex;
	color: #333333;
	background: url("../img/lentalcars/ico_brows.png") 100% 50% no-repeat;
	padding: 0 20px 0 0;
	display: inline-block;
	letter-spacing: 1px;
}

#lentalcars_04 .inner .title {
	color: #22ac38;
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px;
}

#lentalcars_06 {
	background: #f7f7f7;
	padding: 110px 0;
	margin: 0 0 230px;
}

#lentalcars_06 .title {
	font-size: 30px;
	text-align: center;
}

#lentalcars_06 .text {
	font-size: 20px;
	text-align: center;
	padding: 0 0 20px;
}

#lentalcars_06 .inner {
	max-width: 1210px;
	margin: 0 auto;
}

#lentalcars_06 .inner ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#lentalcars_06 .inner ul li {
	width: 33.333%;
	text-align: center;
	padding: 0 30px 30px;
	box-sizing: border-box;
}

#lentalcars_06 .inner ul li .image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
}

#lentalcars_06 .inner ul li .text {
	font-size: 16px;
	text-align: left;
}

#lentalcars_06 .inner ul li .text span {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 0 0 5px;
}


/***************************分割線********************************/
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#section7 {
    margin-top:150px;
}
#section06,#section8,#section9,#section10,#section11,#section12 {
    margin-top:150px;
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-column {
    -ms-flex-direction: column;
    flex-direction: column;
}
.tourismitems .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
}
.tourismitems .item img{
    width:100%;
    display:block;
}
.item a.box {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    padding: 60px 20px 114px 43px;
    box-sizing: border-box;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.item_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #4A4A4A;
    margin-bottom:29px;
}
.item_tag {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    color: #635630;
    display:inline-block;
    padding:2px 20px;
    background: #E5E3D5;
    margin-bottom:29px;
}
.item_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
    margin-bottom:20px;
}
.item_btn {
    display:inline-block;
    padding:12px 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background: #FFD549;
    position:relative;
  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  outline: none;
}
.item a.box:hover .item_btn{
   border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
}
.zyd {
    background-image: url("../img/bg_zyd.png");
    background-position:top right;
    background-repeat:no-repeat;
        background-size: contain;
}
.dhb {
    background-image: url("../img/bg_dhbhd.png");
    background-position:top right;
    background-repeat:no-repeat;
        background-size: contain;
}
.cyng {
    background-image: url("../img/bg_yng.png");
    background-position:top right;
    background-repeat:no-repeat;
        background-size: contain;
}
.shbs {
    background-image: url("../img/bg_shbs.png");
    background-position:top right;
    background-repeat:no-repeat;
        background-size: contain;
}
.item_bottom {
    padding-left:49px;
}
.objectfit {
    object-fit: cover;
    width:100%;
    height: 100%;
    display: block;
}
.item_bottom .swiper-container {
    height:100%;
}

.fm {
    max-height:697px;
}
.shot-item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.shot-item a{
    /*overflow: hidden;
    width: 100%;
    display: block;*/
}
.shot-item img {
    -webkit-transition-duration: 4000ms;
    -o-transition-duration: 4000ms;
    transition-duration: 4000ms;
}
.item_bottom .swiper-button-next,.item_bottom  .swiper-button-prev {
    top: 85% !important;
}
.item_bottom .swiper-button-next,.item_bottom  .swiper-container-rtl .swiper-button-prev {
    background-image: url("../img/item_icom_right.svg") !important;
    right: 10px;
    left: auto;
}
.item_bottom .swiper-button-prev,.item_bottom  .swiper-container-rtl .swiper-button-next {
    background-image: url("../img/item_icom_left.svg") !important;
    left: 10px;
    right: auto;
}
.item.p-l{
    /*padding-left:49px;*/
}
.additionbox{
    border: 3px solid #FFD549;
    margin-left:38px;
    padding:66px 146px 23px 66px;
    width:100%;
    position:relative;
}
.additionbox::before, .additionbox::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border: 3px solid transparent;
  width: 0;
  height: 0;
}

.additionbox::after {
  bottom: -3px;
  right: -3px;
}

.additionbox::before {
  top: -3px;
  left: -3px;
}

.additionbox:hover::before, .additionbox:hover::after {
  width: 100%;
  height: 100%;
}
.additionbox:hover::before {
  border-top-color: #635630;
  border-right-color: #635630;
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

.additionbox:hover::after {
  border-bottom-color: #635630;
  border-left-color: #635630;
  transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}
.tourismadd .item:first-child {
     position:relative;
     z-index:2;
     overflow:inherit;
     padding-right: 49px;
}
.additionbox .box{
    padding: 95px 20px 81px 43px;
}
.additionbox .item_title{
   -ms-flex-order: 1;
    order: 1; 
}
.additionbox .item_tag{
   -ms-flex-order: 0;
    order: 0; 
    background: #FFFFFF;
    -ms-flex-item-align: start;
    align-self: start;
    margin-top: -95px;
    position: relative;
}
.additionbox .item_p{
   -ms-flex-order: 2;
    order: 2; 
}
.additionbox .item_btn{
   -ms-flex-order: 3;
    order: 3; 
    -ms-flex-item-align: end;
    align-self: flex-end;
}
/****/
.former {
    flex-wrap: wrap;
    --top:72px;
    --marto:-72px;
}

.items .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
    padding-top:var(--top);
}
.items .item .former_bg{
    margin-top:var(--marto);
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top:var(--top);
    padding-bottom:46px;
}
.former .former_movie{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    overflow: hidden;
}
.former .item a.box {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    padding: 0px 0px 28px 30px;
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
}
.former_title {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #8E6954;
    margin-bottom:40px;
}
.former .item_btn {
}
.driving {
    position:relative;
}
.driving_bg {
    position:absolute;
    width:100%;
    top:24px;
    left:0;
    right:0;
    bottom:24px;
    background-color:rgba(59, 56, 47, 0.83);
}
.driving_txt {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    position:relative;
}
.driving_xtitle {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    line-height: 30px;
    color: #EBE7AF;
    margin-bottom:25px;
}
.driving_title {
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    line-height: 1;
    color: #E5D04D;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom:25px;
}
.driving_p {
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 30px;
    color: #ECE4BC;
    margin-bottom:87px;
}
.driving_bg.item .driving_txt.box {
    padding: 60px 20px 0px 43px;
}
/************替換更改**************/
.snsPanel .wrapper {
    border: solid 2px rgba(183, 145, 21, 0.95);
    padding: 54px 9.303% 39px;
}
.snsPanel ._deadline {
    border: 3px solid #FFD549;
    line-height: 1;
    margin-top: 23px;
    padding-top: 24px;
    padding-bottom: 22px;
    font-size: 30px;
    font-weight: bold;
    color: #947314;
}
.snsPanel ._deadline span{
    font-size: 20px;
    font-weight: 400;
    color: #947314;
    margin-left:5px;
    align-self: flex-end;
}
.snsPanel ._lead {
color: #362D16;
}
.snsPanel ._lead ._s{
    font-size: 32px;
}
.snsPanel ._lead ._d{
    font-size: 26px;
}
.snsPanel ._buttons a.ig {
    background: #C53360;
    border: 1px solid #C53360;
    color:#FFFFFF;
    text-transform: uppercase;
}
.snsPanel ._buttons a.fb {
    background: #256EC1;
    border: 1px solid #256EC1;
    color:#FFFFFF;
    text-transform: uppercase;
}
.snsPanel ._buttons a::after {
    display:none;
}
.snsPanel ._lead, .snsPanel ._deadline, .snsPanel ._buttons a, .snsPanel ._txt02, .snsPanel .block02 h4, .snsPanel .block02 h5 {
    color: #000000;
}
.snsPanel .block02 h4 span::before, .snsPanel .block02 h4 span::after {
    content: '';
    position: absolute;
    top: calc(50% - (calc(0.2px + 0.05em) / 2));
    width: 2000px;
    border-bottom: calc(0.2px + 0.05em) solid #FFD549;
}
.snsPanel .block02 dt {
    background-color: transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}
.snsPanel .block02 h5 {
    background-color: #E5E3D5;
    border-radius: 11px;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
}
.cr {
    padding:46px 0;
    width:calc(100% - 122px);
    margin:0 auto 37px;
    background-color:transparent;
    border: 2px solid #8E6954;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(65, 54, 54, 0.5);
}
.former .swiper-slide {
    -ms-flex: 0 0 0%;
    min-width: 50%;
        flex: 1 1 0%;
}
.former.items .item {
    -ms-flex: 0 0 100%;
    max-width: 100%;
     flex: 0 0 100%;
    overflow: hidden;
    padding-top: var(--top);
}
.snsPanel ._deadline {
    color:#947314;
}
.chudo_list_box{
    padding: 131px 0 131px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.chudo_list {
    width:40%;
}
.__chudotitle {
    font-size: 40px;
    padding: 0;
    margin: 0;
    line-height: 2;
}
.__chudop {
    font-size: 24px;
    line-height: 2;
}
.area01_ctu {
    padding-top: 140px;
}
#area01_03.zj_tj {
    padding-bottom:0;
        background-color: #F5F5F5;
}
.ms_box {
    flex-wrap: wrap;
}
.ms_item {
    width:calc((100% / 4) - 26px);
    padding: 0 13px;
    border-radius: 20px;
    position:relative;
}
@media (max-width: 768px) {
.ms_item {
    width:calc((100% / 2) - 26px);
}
    .__chudotitle {
        font-size:18px;
    }
    .chudo_list_box {
    padding: 0;
    flex-wrap: wrap;
}
    .chudo_list + .chudo_list {
        padding-top:0;
    }
    .chudo_list {
        width: 100%;
        padding: 25px;
    }
    .__chudop {
        font-size: 14px;
        line-height: 2;
    }
    .titlems {
        padding:0 25px !important;
            line-height: 1.3;
            font-size:24px !important;
    }
    .__title_smail {
        font-size:12px !important;
    }
    
}
.ms_item img{
    width:100%;
}
    .ms_item:hover img{
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
    }
.ms_img_txt {
    position:absolute;
    left:0;
    bottom:20px;
    right:0;
    text-align:center;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.16);

}
.js-dtbg-contents {
    padding: 100px 40px 100px;
    box-sizing: border-box;
    text-align:center;
}
.titlems {
    font-size: 26px;
    color: #8F8F8F;
    text-align: center;
    padding:  0 0 50px 0;
}
.js-dtbg-contents img {
    max-width:100%;
}
.area01_ctu .js-tab-wrap ul.cont li {
    border: 0px solid #eef6fb;
    box-shadow: 18px 18px 36px rgba(211, 209, 216, 0.25);
    margin: 0 0 35px;
}
.area01_ctu .js-tab-wrap ul.cont li:hover {
    background: #F8F8EE;
}
.area01_ctu .js-tab-wrap ul.cont li p.text01 {
    color: #000000;
    /*font-size:22px;*/
}
.area01_ctu .js-tab-wrap ul.cont li p.text02 {
    color: #8F8F8F;
    /*font-size:20px;*/
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.zj_tj {
    background-color:#F5F5F5;
    font-family: Microsoft YaHei, sans-serif;
}
.zj_tj .js-tab-btn {
    margin: 0 15px;
}
.__title_smail {
    
font-size: 26px;
display:block;
font-weight: bold;
line-height: 40px;
color: #D8B921;
}
.zj_tj .js-tab-btn.current div {
    background: #FFD549;
    color: #000000;
    border-radius: 20px;
    border: navajowhite;
    font-weight: bold;
}
.zj_tj .js-tab-btn div {
    border: none;
    color: #000000;
    border-radius: 20px;
}
.zj_tj .js-tab-btn.current {
    background: none;
}
.zj_tj .tab_inner {
    overflow: hidden;
}
.test_look {
    padding-left:15%;
    padding-right:15%;
    
}
.test_look .slider{
    
}
.test_look .swiper-container {
      width: 100%;
      height: 100%;
      padding:45px 0;
    }
.test_look .swiper-slide {
      text-align: center;
      font-size: 18px;
	  transition: 300ms;
	  transform: scale(0.8);
      border-radius:20px;
      width:calc(100% / 3);
    }

.area02_14 {
    padding-bottom:140px;}

    .test_look .swiper-slide img{
        width:100%;
        border-radius:20px;
        box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.16);
    }
.test_look .swiper-slide-active,.test_look .swiper-slide-duplicate-active{
      transform: scale(1);
	}
.swiper_txt {
    text-align:center;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;    margin-top:30px;}
@media (max-width: 768px){
    .test_look {
    padding-left:15px;
    padding-right:15px;
        
    }
    .area02_14 {
        padding-bottom:0;
    }
    .test_look .swiper-container {
    padding: 0 0 45px;
}
    .test_look .swiper-slide {
        width:100%;

    }
    .swiper_txt {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    margin-top: 15px;
}
}