@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: 'Sarabun', sans-serif;
	font-style: normal;
	color: #333333;
	letter-spacing: 0.1em;
	line-height: 2;
}




.js-tab-wrap ul.cont li .text .inner {
	height: 80px;
	overflow: hidden;

}

.pop_box .inner .season {
	display: flex;
	padding: 0 0 5px;
	flex-wrap: wrap;
}
.pop_box .inner .course {
	display: flex;
	flex-wrap: wrap;
}

.pop_box .inner .season p,
.pop_box .inner .course p{
	display: block;
	margin: 0 10px 5px 0;
	padding: 0 5px;
	white-space: nowrap;
}

	.pop_box .inner_box .season .inner,
.pop_box .inner_box .course .inner{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}


.schedule .left div.s01 span {
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.schedule .left div.s02 span {
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.schedule .left div.s03 span,
.schedule .left div.s03_2 span{
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.schedule .left div.s04 span {
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.schedule .left div.s05 span {
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.schedule .left div.s06 span,
.schedule .left div.s07 span,
.schedule .left div.s08 span,
.schedule .left div.s09 span,
.schedule .left div.s10 span,
.schedule .left div.s11 span,
.schedule .left div.s_last2 span,
.schedule .left div.s_last3 span,
.schedule .left div.s_last4 span,
.schedule .left div.s_last5 span{
	-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
	width: 13px;
	display: block;
	line-height: 1;
	padding: 2px 0 0 0;
}

.pop_box .inner .season span {
		display: block;
		width: 100%;
	font-size: 13px;
	padding: 3px 0 10px 0;
	}
.snsPanel ._lead .__baloon {
	top: -125px;
	left: -47px;
}
@media (max-width: 768px){

	.js-tab-wrap ul.cont li p.text01 {
		font-size: 12px;
		margin: 0;
		padding: 0px 0 0px;
		line-height: 1.8;
	}

	.js-tab-wrap ul.cont li p.text02 {
		line-height: 1.8;
	}

	.pop_box .inner .season span {
		display: inline-block;
		width: 100%;
	font-size: 13px;
	padding: 0px 0 10px 0;
	}
	.snsPanel ._lead .__baloon {
		top: -71px;
		left: -26px;
	}
}